body {
    background-color: beige;
}
h2 {
    text-align: center;
}
img {
    display: block;
    margin;auto;
    border-radius: 2%;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;', Times, serif;
    
}

img {
    margin-left: 550px;
}